<!-- form-question2.html -->

<div style="z-index:5;" class="text-center">
    <div class="form-group">
        <header class="form-group"><h3>Question 2</h3></header>
        <p class="form-group">&nbsp;&nbsp;&nbsp;Select the cosine theorem formula</p>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label>
                <input type="radio" ng-model="formData.q2" value="a" checked>
                <math>

                    <mi>cos</mi>
                    <mo>&#x2061;</mo>
                    <mo>(</mo>
                    <mi>&#x03B1;</mi>
                    <mo>&#xB1;</mo>
                    <mi>&#x03B2;</mi>
                    <mo>)</mo>

                    <mo>=</mo>

                    <mi>cos</mi>
                    <mi>&#x03B1;</mi>
                    <mi>cos</mi>
                    <mo>&#x03B2;</mo>
                    <mo>&#x2213;</mo>
                    <mi>sin</mi>
                    <mo>&#x03B1;</mo>
                    <mi>sin</mi>
                    <mo>&#x03B2;</mo>

                </math>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="radio" ng-model="formData.q2" value="b">
                <math>

                    <mi>sin</mi>
                    <mo>&#x2061;</mo>
                    <mo>(</mo>
                    <mi>&#x03B1;</mi>
                    <mo>&#xB1;</mo>
                    <mi>&#x03B2;</mi>
                    <mo>)</mo>

                    <mo>=</mo>

                    <mi>sin</mi>
                    <mi>&#x03B1;</mi>
                    <mi>cos</mi>
                    <mo>&#x03B2;</mo>
                    <mo>&#xB1;</mo>
                    <mi>cos</mi>
                    <mo>&#x03B1;</mo>
                    <mi>sin</mi>
                    <mo>&#x03B2;</mo>

                </math>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="radio" ng-model="formData.q2" value="c">
                <math>

                    <mi>sin</mi>
                    <mo>&#x2061;</mo>
                    <mi>&#x03B1;</mi>
                    <mo>+</mo>
                    <mi>sin</mi>
                    <mo>&#x2061;</mo>
                    <mi>&#x03B2;</mi>

                    <mo>=</mo>

                    <mi>2</mi>
                    <mi>sin</mi>
                    <mo>&#x2061;</mo>

                    <mo>(</mo>
                    <mfrac>
                        <mrow>
                            <mi>&#x03B1;</mi>
                            <mo>+</mo>
                            <mi>&#x03B2;</mi>
                        </mrow>
                        <mrow>
                            <mi>2</mi>
                        </mrow>
                    </mfrac>
                    <mo>)</mo>

                    <mi>cos</mi>
                    <mo>&#x2061;</mo>

                    <mo>(</mo>
                    <mfrac>
                        <mrow>
                            <mi>&#x03B1;</mi>
                            <mo>-</mo>
                            <mi>&#x03B2;</mi>
                        </mrow>
                        <mrow>
                            <mi>2</mi>
                        </mrow>
                    </mfrac>
                    <mo>)</mo>


                </math>
            </label>
        </div>

        <div class="form-group">
            <label>
                <input type="radio" ng-model="formData.q2" value="d">
                <math>

                    <mi>sin</mi>
                    <mo>&#x2061;</mo>
                    <mi>&#x03B1;</mi>
                    <mo>-</mo>
                    <mi>sin</mi>
                    <mo>&#x2061;</mo>
                    <mi>&#x03B2;</mi>

                    <mo>=</mo>

                    <mi>2</mi>
                    <mi>cos</mi>
                    <mo>&#x2061;</mo>

                    <mo>(</mo>
                    <mfrac>
                        <mrow>
                            <mi>&#x03B1;</mi>
                            <mo>+</mo>
                            <mi>&#x03B2;</mi>
                        </mrow>
                        <mrow>
                            <mi>2</mi>
                        </mrow>
                    </mfrac>
                    <mo>)</mo>

                    <mi>sin</mi>
                    <mo>&#x2061;</mo>

                    <mo>(</mo>
                    <mfrac>
                        <mrow>
                            <mi>&#x03B1;</mi>
                            <mo>-</mo>
                            <mi>&#x03B2;</mi>
                        </mrow>
                        <mrow>
                            <mi>2</mi>
                        </mrow>
                    </mfrac>
                    <mo>)</mo>


                </math>
            </label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="form.question3" class="btn btn-block btn-info">
                Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div>