<!-- form-question4.html -->


<div style="z-index:7;" class="text-center">
   
    <header><h3>Question 4</h3></header>
    <div class="form-group">
        <p class="form-group">Watch the video and answer the following question.</p>
        <p class="form-group">What is the source mentioned in the video?</p>
    </div>
   
    <div class="form-group">
        <iframe class="form-group" width="560" height="315" src="//www.youtube.com/embed/ih9jPaZct1w" frameborder="0" allowfullscreen></iframe>
        <p class="form-group">Expedition 40 Undocks Ending Mission</p>
        <sub class="form-group"> Source: <a>http://www.nasa.gov/multimedia/videogallery/index.html#.VBj2v_ldWCk</a> </sub>
    </div>
    <div class="form-group">
        <div class="form-group">
        <label>
            <input type="radio" ng-model="formData.q4" value="a">
            NASA.GOV
        </label>
    </div>
        <div class="form-group">
            <label>
                <input type="radio" ng-model="formData.q4" value="b">
                Data.Gov
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="radio" ng-model="formData.q4" value="c">
                Facebook
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="radio" ng-model="formData.q4" value="d">
                XYZ.NET
            </label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="form.survey" class="btn btn-block btn-info">
                Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>

</div>